package main

import (
	"log"

	dreego "github.com/dreego-stack/dreego/core"
	"§$name$§/dreego/gen"
)

func main() {
	app := dreego.New()
	if err := gen.Register(app); err != nil {
		log.Fatal(err)
	}
	if err := app.Listen(":8080"); err != nil {
		log.Fatal(err)
	}
}
